* {
    margin: 0rem;
    padding: 0rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: #fdfbfb;
}

header {
    background-color: #fffefe;
    height: 5rem;
    padding: 1.25rem;
    border-bottom: 1px solid #8d8c8c;
}


p .principal {
    color: #ffff;
    text-shadow: 7px 5px 4px rgba(24, 23, 23, 0.6);
    font-size: 1.125rem;
}

h1 {
    color: #3b3a3a;
    margin: 0 0 3.125rem 0;
}

.principal {
    background-image: url('/img/');
    clear: both;
    background-size: 100%;
    min-height: 18.75rem;
    padding: 3.125rem 0 0 0;
}

.logo {
    float: left;
}

.menu {
    float: right;
    margin-top: 1.875rem;
}

.menu a {
    padding: 3.25rem;
    text-decoration: none;
    color: rgb(7, 7, 7);

}

.menu a:hover {
    background-color: rgb(3, 3, 3);
    color: rgb(252, 249, 249);
}

.container {
    width: 60rem;
    margin: 0 auto;
}

.efeito {
    background-color: rgb(249, 249, 252);
    padding: 15rem 0 15rem 0;
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    clear: both;
    background-color: #f8fafa;
    height: 5rem;
    text-align: center;
}

