*{
    margin: 0rem;
    padding: 0rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-color: #F7FFEB;
}

header{
background-color: #D6FF99;
height: 5rem;
padding: 1.25rem;
}

p .pPrinc {
    color: #F7FFEB;
    text-shadow: 7px 5px 4px rgba(0,0,0,0.6);
    font-size: 1.125rem;
}

h1{
    color: #515353;
    margin: 0 0 3.125rem 0;
}

.principal {
    background-image: url('/img/');
    clear: both;
    background-size: 100%;
    min-height: 18.75rem;
    padding: 3.125rem 0 0 0;
}

.logo {
    float: left;
}

.menu {
    float: right;
    margin-top: 1.875rem;
}

.menu a {
margin-left: 10px;
    text-decoration: none;
    color: #6f7172;

}

.menu a:hover {
    background-color: #5e615e(174, 243, 174);
    color: rgb(5, 5, 5);
}

.conteiner {
    width: 60rem;
    margin: 0 auto;
}
.efeito {
    background-color: #F7FFEB;
    padding: 5rem 0 5rem 0;
}
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    clear: both;
    background-color: #D6FF99;
    height: 5rem;
    text-align: center;
}