*{
    margin: 0rem;
    padding: 0rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-color: rgb(154, 197, 199)0, 0;
}

header{
    background-color: #efecec;
    height: 5rem;
    padding: 1.25rem;
}


.principal {
background-image: url('/img/');
clear: both;
background-size: 100%;
min-height: 18.75rem;
padding: 3.125rem 0 0 0;
}

.logo {
    float: left;
}

.menu {
    float: right;
    margin-top: 1.875rem;
}

.menu a {
    padding: 3.25rem;
    text-decoration: none;
    color: #956864;

}

.menu a:hover {
    background-color:#B6908E;
    color: #efecec;
}

.container {
    width: 60rem;
    margin: 0 auto;
}

.txtheader {
    color: #956864;
    padding: 5rem 0 5rem 0;
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    clear: both;
    background-color: #efecec;
    height: 5rem;
    text-align: center;
}

.txtFooter {
    color: #956864;
    margin-top: 20px;
}